/* This stylesheet will be selected when you export HTML from InDesign */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 600px;
  font-size: 12px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*your style rules go in here */
 
}

nav ul li a {
  text-decoration: none;
}

main {
  width:100%;
}


nav {
  /* this is where your nav list items will be */
  /* display: none; */
  background-color: darkgray;
  font-family: 'Libre Baskerville', Georgia, serif;  
  font-size: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  
  
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  margin: 0.5rem 0;
  display: block;
  color: black;
}

nav ul li:hover {
  background-color: darkgray;
}

nav ul li a:hover {
  color: white;
}

li ul li a {
  margin: 0.3rem 0;
  color: white;
  font-size: 0.6rem;
}

li.home {
  flex: 1 0 auto;
  text-align: center;
  padding-left: 30px;
  margin-right: 0;
}

li ul {
  display:none;
}

nav ul li:hover ul {
display:flex;
flex-direction: column;
}











section {
  border: 0;
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */

.dramatis {
  width: 100%;
  margin: 3em auto;
  /* background-color: ; */
  padding: 1em;
}
.play {
  width: 100%;
  margin: 3em auto;
  background-color: rgb(243, 243, 235);
  padding: 1em;
  }

figure {

}

img {
width: 90%;
display: block;
margin: 0 auto;

}

.fullimage {
  width: 70%;
  margin: 1em auto;
}

.heading {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 6em;
  margin-top: 0.5em;
}



.caption {
  text-align: center;
  font-style: italic;
  /* background-color: white; */
  padding: 4px;
  margin-bottom: 0.8em;
  font-size: 0.8em;
}

.act {
  background-color: darkred;
  color: black;
  text-align: center;
  padding: 8px;
  font-size: 2.5em;
  font-family: 'Libre Baskerville', Georgia, serif;
}
.character {
  display: block;
  position: relative;
  /* left: -8em; */
  top: 1.1em;
  font-size: 1.5em;
  width: 4em;
  font-family: 'Cormorant SC', Georgia, serif;
  /* background-color: darkred; */
  /* color: white; */
  font-family: 'Tinos',Georgia, serif;
  font-style: italic;

  
}
.charactername {
  background-color: darkred;
  font-family: 'Cormorant SC', Georgia, serif;
  font-size: 1.5em;
  color: white;
  padding: 8px;
  text-align: center;
}
.dramatishead {
  background-color: darkgray;
  font-family: 'Libre Baskerville', Georgia, serif;
  text-align: center;
  font-size: 2em;
  padding: 8px;
}

.location {
  background-color: darkred;
  text-align: center;
  padding: 8px;
  margin-top: 0.5em;
  font-family: 'Libre Baskerville', Georgia, serif;
}
.play_location {
  background-color: darkgray;
  padding: 6px;
  margin: 1em auto;
  font-family: 'Libre Baskerville', Georgia, serif;
  font-size: 1.5em;
  text-align: center;
}

.firstscene, .scene {
  text-align: center;
  /* margin-top: .5em; */
  font-size: 2em;
  font-family: 'Libre Baskerville', Georgia, serif;
  background-color: darkgray;
  margin-top: 0.5em;
}




.song {
  margin: 0 0 0.4em 8em;
  font-family: 'Libre Caslon Text', Georgia, serif;
  font-size: 1.3em;
  font-style: italic;

/* background-color: aqua; */
}
.stagedirection {
  background-color: darkgray;
  font-family: 'Cormorant SC', Georgia, serif;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
}
.verseline {
  margin: 0 0 0.4em 8em;
  /* background-color: darkred; */
  font-family: 'Libre Caslon Text', Georgia, serif;
  font-size: 1.2em;
}

.prose {
  margin: 0 0 0.4em 8em;
  /* background-color: bisque; */
  font-family: 'Libre Caslon Text', Georgia, serif;
  font-size: 1.2em;

}

.character_role {
margin-left: 1em;
color: black;

}
.stage_directions_inline {
  font-family: 'Libre Caslon Text', Georgia, serif;
  font-style: italic;
  font-size: 0.9em;
  /* background-color: crimson; */
  padding: 0.5em;

}

.video-box {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 12px;
}

.video-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}




.the-end {
  /* background-color: white; */
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  text-align: center;
  padding: 20px;

}


@media screen and (min-width: 580px) {
  
  html {
  scroll-padding-top: 64px;
}
  body {
    font-size: 1rem;
  }
}

/* when the screen is wider than 700px */

@media screen and (min-width: 700px) {
  html {
    scroll-padding-top: 25px;
    font-size: 16px;

  }
  main {
    width: 65%;
    margin: 0 auto;
    max-width: 800px;
  }

/*   h1 a,
  h2 a {
    position: absolute;
    top: -28px;
  } */

  li.home {
    text-align: left;
    padding-left: 3rem;
    margin-right: 3rem;
    flex: 4 1 100px;
    align-self: flex-start;
  }

  /* when the screen is wide set the direction of the flex items to be in a row */

  nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  /* the main items have a disired width of 6rem  */

  nav ul li {
    flex: 0 1 6.5rem;
  }

  nav ul li ul li {
    flex: 0 0 2rem;
  }

  li ul li a {
    padding: 0.3rem 0;
    /* font-size: .8rem; */
  }

  li ul {
    display: none;
    /* text-align:center; */
    position: absolute;
    background-color: black;
    width: 6.5rem;
  }

  /* make the width of the sub items the same as the width of the main items */
  li ul li {
    width: 6.5rem;
  }

  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li.home:hover {
    background: none;
  }

  nav ul li.home:hover a {
    color: rgb(170, 57, 21);
    text-decoration: underline;
  }
}


